
.TableRow{
    margin-top:27px;
}

.rowHead{
    font-weight: 200;
    margin-left:5px;
}

.colHead{
    margin:0px 50px 0px 30px;

}

.notAvailble{
    background-color: salmon;
}

.schCell{
    margin:"1px";
    min-width:"100px";
    min-height:"32px";
}