.tableCell{
    border: 2px solid #838282;
    border-style: ridge;
    padding: 10px 40px 10px 40px;
    margin: 0 1px 0 1px;
    border-radius: 10px;
}

.tableCell{
    background-color: whitesmoke;
}

.tableCell.active{
    background-color: rgb(209, 102, 102);
}

.tableCell:hover{
    background: tomato;
    color: #111;
    transition: 0.2s ease-in;
}


.TableRow{
    margin-top:27px;
}

.rowHead{
    font-weight: 200;
    margin-left:5px;
}

.colHead{
    margin:0px 32px 0px 30px;

}

.loading{
    display: relative;
    left:50%;
}