.navigationMenu{
    height: 100%;
    position: fixed;
    padding-left:5%;
    padding-top:20%;
    background-color: rgb(39, 39, 39);
    border-right:2px solid whitesmoke;
}

.clock{
    margin-top:-200px;
    margin-left:-25%;
    color:white;
}

.myMenu{
    margin-top:95%;
    margin-left:-30%;
}