.navigationMenu{
    height: 100%;
    position: fixed;
    padding-left:5%;
    padding-top:20%;
    background-color: rgb(39, 39, 39);
    border-right:2px solid whitesmoke;
}

.clock{
    margin-top:35px;
    /* margin-left:10px; */
    text-align: center;
    margin-bottom:45%;
    padding-bottom:5%;
    border-bottom:1px dashed white;
    color:white;
}

.myMenu{
    margin-top:95%;
    margin-left:-30%;
}

.ant-menu-item-active{
    cursor: default !important;
    
}
.ant-menu-item{
    cursor: default !important;
    
}